h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --base-font: Roboto, sans-serif;
  --base-font-color: #757575;
  --second-font-color: #2196F3;
  --title-font-color: #212121;
}

body {
  font-family: var(--base-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
}


.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: flex;
}

.logo-title {
  color: var(--second-font-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  cursor: pointer;
  font-family: Raleway;
}

.logo-title.studio-span {
  color: var(--title-font-color);
}

.nav-list {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item {
  text-decoration: none;
  color: var(--title-font-color);
  font-family: var(--base-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-right: 50px;
}


/* .nav-item:not(:last-child) {
  margin-right: 50px;

  OR

  flex-basis: calc((100 - 2 * 50px)/2);
}  */

.nav-item:hover, .nav-item:focus {
  color: var(--second-font-color);
}

.nav-item.studio-item {
  color: var(--second-font-color);
}

.contact {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-mail, .contact-tel {
  color: var(--base-font-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}

.contact-tel {
  margin-left: 50px;
}

.contact-mail:hover, .contact-mail:focus,
.contact-tel:hover, .contact-tel:focus
{
  color: var(--second-font-color);
}

.hero {
  background-color: #2F303A;
  height: 600px;
}

.hero-title {
  display: flex;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  justify-content: center;
  padding-top: 200px;
}

.button {
  display: flex;
  background-color: var(--second-font-color);
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border-radius: 4px;
  justify-content: center;
  margin-top: 30px;
  outline: 1px solid red;
}

.button:hover {
  background-color:  #188CE8;
}

/* ADVANTAGES SECTION */
.advant {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px; */
  margin-top: 94px;
  width: 1200px;
}

.advant > .advant-item {
  font-family: var(--base-font);
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.advant-item-title {
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;;
}

.advant-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--base-font-color);
}

/* WWD SECTION */
.wwd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
}

.wwd-item {
  list-style-type: none;
  margin-left: 30px;
}

.wwd-list{
  display: flex;
  justify-content: space-evenly;
  margin-left: -30px;
}

.wwd {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* TEAM SECTION */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
}


.team {
  background-color: #F5F4FA;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
} 

.team-item {
  list-style-type: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.team-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-name {
  color: var(--title-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--base-font-color);
  padding-bottom: 30px; 
}


.footer {
  background-color: #2F303A;
  display: flex;
}

.f-address {
  padding-bottom: 60px;
}

.footer-logo-title {
  padding-top: 60px;
  display: block;
  margin-bottom: 20px;
}

.footer-logo-span {
  color: white;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-address, .footer-mail, 
.footer-tel {
  text-decoration: none;
}

.footer-mail, .footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
}

.footer-mail {
  margin-bottom: 9px;
}


 .filter-items {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
 }

 .filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
 }

 .filter-item:hover, .filter-item:focus {
   cursor: pointer;
 }

 .filter-item:active {
   background: var(--second-font-color);
   color: #FFFFFF;
 }

 .portfolio-items {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
 }

 .portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--title-font-color);
 }

 .portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--base-font-color);
 }